<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовые задания</title>
</head>
<body>
<h1>Тествое задания</h1>
<p>
Для решения тестовых заданий я создал это микрофреймворк, чтобы каждый раз не тратить время на создание окружения и экосистемы.
</p>
<h2>Задача: Разработать страницу для просмотра логов</h2>
<a href="/index.php?component=logviewer">Решение</a>
<h3>Требования:</h3>

<p>
Каждая запись в таблице с логами представляет из себя следующий набор обязательных полей:<br />
ts - время создания записи<br />
type - числовой тип записи, с возможными значениями от 1 до 10<br />
message - текстовое описание события<br />
</p>

<p>Логи должны отображаться в виде таблицы с постраничной навигацией по 100 элементов на странице, возможностью сортировки по времени и фильтром по типу записи. Удаления логов из базы не предполагается, логи только пишутся и читаются.
</p>
<p>Время отображения любой страницы не должно превышать 500мс. Backend должен быть написан на PHP. В качестве базы данных можно использовать одну из следующих РСУБД: MySQL | MariaDB | PostgreSQL.
</p>
<p>
По фронтенду никаких требований нет, достаточно простого html-table со ссылкой для сортировки, текстовым инпутом для фильтра, с кнопками "вперед-назад" и возможностью выбрать страницу руками
</p>

<h2>Задача2: Регистрация пользователя</h2>
<a href="/index.php?component=user">Решение</a><br/>

<h3>1. PHP</h3>

Создать страницу с авторизацией пользователя: логин и пароль и реализовать в ней:<br/>
• возможность регистрации пользователя (email, логин, пароль, ФИО),<br/>
• при входе в "личный кабинет" возможность сменить пароль и ФИО.<br/>
• использовать "чистый" PHP 5.6 и выше (без фреймворков) и MySQL 5.5 и выше, дизайн не важен, верстка тоже простая. Наворотов не нужно, хотим посмотреть просто Ваш код.<br/>

<h3>2. SQL</h3>
Решение есть в resource/test.sql<br/><br/><br/>


Есть 2 таблицы<br/><br/>

таблица пользователей:<br/>
users<br/>
----------<br/>
`id` int(11)<br/>
`email` varchar(55)<br/>
`login` varchar(55)<br/><br/>

и таблица заказов<br/>
orders<br/>
--------<br/>
`id` int(11)<br/>
`user_id` int(11)<br/>
`price` int(11)<br/><br/>

Необходимо :<br/>
• составить запрос, который выведет список email'лов встречающихся более чем у одного пользователя<br/>
• вывести список логинов пользователей, которые не сделали ни одного заказа<br/>
• вывести список логинов пользователей которые сделали более двух заказов<br/>



</body>
</html>